$theme-name: "theme-simple";
$prefix: $theme-name;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    color-scheme: dark;
    /* 
    ------------------------------
    DEFAULT VARS 
    ------------------------------
    */

    // fonts
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --font-family: "Poppins", sans-serif;
    --font-size: 1rem;
    --line-height: 24px;

    // general
    --transition-duration: 0.3s;
    --max-width-container: 1200px;
    
    // colors
    --main-color-theme: #8e44ad;
    --main-color-theme-hover: #623077;
    --secondary-color-theme: #9b59b6;

    --main-text-color: #212121;
    --secondary-text-color: #4c4c4c;

    --white-color: #ffffff;

    --default-title-color: var(--main-text-color);
    --default-subtitle-color: var(--secondary-text-color);
    --default-text-color: var(--main-text-color);
    
    // components
    --default-border-radius: 4px;
    --default-border-size: 1px;
    --default-border-style: solid;
    --default-border-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: #ffffff;
        --secondary-text-color: #e3e3e3;
    }
}



@import "../components/button.component.scss";
@import "../components/icon.component.scss";
@import "../components/title.component.scss";
@import "../components/paragraph.component.scss";
@import "../components/image.component.scss";