@import "./themes/theme-simple.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: var(--line-height);
}

html {
  font-size: 16px;

  @media screen and (max-width: 992px) {
      font-size: 12.8px;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-size: var(--font-size);
  font-family: var( --font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

.responsive-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.color--facebook {
  color: #3b5998 !important;
}

.color--twitter {
  color: #1da1f2 !important;
}

.color--linkedin {
  color: #0077b5 !important;
}

.color--github {
  color: #333 !important;
}

.color--instagram {
  color: #e1306c !important;
}

.color--youtube {
  color: #ff0000 !important;
}

.color--pinterest {
  color: #bd081c !important;
}

.color--tiktok {
  color: #000000 !important;
}

.color--snapchat {
  color: #fffc00 !important;
}

.color--whatsapp {
  color: #25d366 !important;
}

.color--telegram {
  color: #0088cc !important;
}

.color--discord {
  color: #5865f2 !important;
}

.color--twitch {
  color: #6441a5 !important;
}

.color--spotify {
  color: #1db954 !important;
}

.color--kick {
  color: #3ac569 !important;
}

.social--facebook {
  &:hover {
    background-color: #3b5998 !important;
  }
}

.social--twitter {
  &:hover {
    background-color: #1da1f2 !important;
  }
}

.social--linkedin {
  &:hover {
    background-color: #0077b5 !important;
  }
}

.social--github {
  &:hover {
    background-color: #333 !important;
  }
}

.social--instagram {
  &:hover {
    background-color: #e1306c !important;
  }
}

.social--youtube {
  &:hover {
    background-color: #ff0000 !important;
  }
}

.social--pinterest {
  &:hover {
    background-color: #bd081c !important;
  }
}

.social--tiktok {
  &:hover {
    background-color: #000000 !important;
  }
}

.social--snapchat {
  &:hover {
    background-color: #fffc00 !important;
  }
}

.social--whatsapp {
  &:hover {
    background-color: #25d366 !important;
  }
}

.social--telegram {
  &:hover {
    background-color: #0088cc !important;
  }
}

.social--discord {
  &:hover {
    background-color: #5865f2 !important;
  }
}

.social--twitch {
  &:hover {
    background-color: #6441a5 !important;
  }
}

.social--spotify {
  &:hover {
    background-color: #1db954 !important;
  }
}

.social--kick {
  &:hover {
    background-color: #3ac569 !important;
  }
}
