.mainBanner {
    

    // banner colors
    --main-banner-bg: var(--main-color-theme);
    --main-banner-title-color: var(--default-title-color);
    --main-banner-subtitle-color: var(--default-subtitle-color);
    --main-banner-image-border-color: var(--white-color);

    --main-banner-max-height: 840px;

    // waves
    --waves-color: var(--white-color);
    --waves-color-contrast: var(--white-color);
    --waves-max-height: calc(var(--main-banner-max-height) * 0.7);

    background-color: var(--custom-main-banner-bg, var(--main-banner-bg));
    height: calc(100vh);
    max-height: var(--main-banner-max-height);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--custom-main-banner-bg, var(--main-banner-bg));
        z-index: 1;
        opacity: 0.8;
    }

    @media screen and (max-width: 1200px) {
        --main-banner-max-height: 800px;
        // max-height: 800px;
    }

    @media screen and (max-width: 992px) {
        --main-banner-max-height: 640px;
    }

    @media screen and (max-width: 768px) {
        --main-banner-max-height: 480px;
    }
}

.mainBannerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
    text-align: center;
    position: relative;
    padding: 40px 0px 20px;
}

.mainBannerTitle {
    color: var(--custom-main-banner-title-color, var(--main-banner-title-color));
}

.mainBannerSubTitle {
    color: var(--custom-main-banner-subtitle-color, var(--main-banner-subtitle-color));
}

.mainBannerContent {
    position: relative;
    z-index: 4;
}

.image {
    background-color: white;
    margin-bottom: 12px;
    border: 4px solid var(--custom-main-banner-image-border-color, var(--main-banner-image-border-color));

    @media screen and (max-width: 1200px) {
        width: 150px;
        height: 150px;
    }

    @media screen and (max-width: 992px) {
        width: 120px;
        height: 120px;
    }
}

.image--square {
    border-radius: 0;
}

.image--circle {
    border-radius: 50%;
}

.image--rounded {
    border-radius: 40px;
}

$wave-size: 800px;
$wave-time: 15000ms;
$wave-opacity: 0.3;

.wave {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--custom-wave-color, var(--waves-color));
    
    width: var(--waves-max-height);
    height: var(--waves-max-height);
    margin-left: calc(var(--waves-max-height) / -2);
    margin-top: calc(var(--waves-max-height) / -2);

    transform-origin: 50% 48%;
    border-radius: 40%;
    z-index: 3;
    opacity: $wave-opacity;
}

.wave1 {
    left: 50%;
    top: 50%;
    animation: drift calc($wave-time * 3) infinite linear;
}

.wave2 {
    left: 49%;
    top: 51%;
    animation: drift calc($wave-time * 1) infinite linear;
    background-color: var(--custom-wave-color-contrast, var(--waves-color-contrast));
    z-index: 2;
    opacity: $wave-opacity / 2;
}

.wave3 {
    left: 51%;
    top: 49%;
    animation: drift calc($wave-time * 2) infinite linear;
    background-color: var(--custom-wave-color, var(--waves-color));
    z-index: 1;
    opacity: $wave-opacity / 2;
}

@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}