.mainBanner {
    background-color: var(--custom-main-banner-bg, var(--main-banner-bg));
    height: calc(100vh);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.mainBannerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
    text-align: center;
    position: relative;
    padding: 40px 0px 20px;
    max-height: 992px;

    h1 {
        color: var(--custom-main-banner-title-color, var(--main-banner-title-color))
    }

    h3 {
        color: var(--custom-main-banner-subtitle-color, var(--main-banner-subtitle-color))
    }

    @media screen and (max-width: 1200px) {
        padding: 24px 0px;
        flex: 6;
    }

    @media screen and (max-width: 992px) {
        max-height: 640px;
    }

    @media screen and (max-width: 768px) {
        max-height: 480px;
    }
}

.mainBannerContent {
    position: relative;
    z-index: 4;
}

.mainBannerExtraContent {
    padding: 24px 0px;
    display: flex;
    justify-content: center;
    flex: 1;

    @media screen and (max-width: 1200px) {
        flex: 4;
    }
}

.mainBannerCard {
    max-width: 600px;
    padding: 20px;
    // background-color: white;
    // color: invert($color: white);
    border-radius: 12px;
    display: flex;
    gap: 12px;
}



.image {
    background-color: white;
    margin-bottom: 12px;
    border: 4px solid var(--custom-main-banner-image-border-color, var(--main-banner-image-border-color));

    @media screen and (max-width: 1200px) {
        width: 150px;
        height: 150px;
    }

    @media screen and (max-width: 992px) {
        width: 120px;
        height: 120px;
    }
}

.image--square {
    border-radius: 0;
}

.image--circle {
    border-radius: 50%;
}

.image--rounded {
    border-radius: 24px;
}

$wave-size: 800px;
$wave-time: 15000ms;
$wave-opacity: 0.3;

.wave {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--custom-wave-color, var(--waves-color));
    
    width: $wave-size;
    height: $wave-size;
    margin-left: calc($wave-size / -2);
    margin-top: calc($wave-size / -2);

    transform-origin: 50% 48%;
    border-radius: 40%;
    z-index: 3;
    opacity: $wave-opacity;

    @media screen and (max-width: 1200px) {
        $wave-size: 600px;

        width: $wave-size;
        height: $wave-size;
        margin-left: calc($wave-size / -2);
        margin-top: calc($wave-size / -2);
    }

    @media screen and (max-width: 992px) {
        $wave-size: 520px;

        width: $wave-size;
        height: $wave-size;
        margin-left: calc($wave-size / -2);
        margin-top: calc($wave-size / -2);
    }

    @media screen and (max-width: 768px) {
        $wave-size: 360px;

        width: $wave-size;
        height: $wave-size;
        margin-left: calc($wave-size / -2);
        margin-top: calc($wave-size / -2);
    }
}

.wave1 {
    left: 51%;
    top: 49%;
    animation: drift calc($wave-time * 3) infinite linear;
}

.wave2 {
    left: 48%;
    top: 51%;
    animation: drift calc($wave-time * 1) infinite linear;
    background-color: var(--custom-wave-color-contrast, var(--waves-color-contrast));
    z-index: 2;
    opacity: $wave-opacity / 2;
}

.wave3 {
    left: 51%;
    top: 51%;
    animation: drift calc($wave-time * 2) infinite linear;
    background-color: var(--custom-wave-color, var(--waves-color));
    z-index: 1;
    opacity: $wave-opacity / 2;
}

@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}